/*Homepage CSS*/
body{
  padding: 0;
  margin:0;
}

/*Navigation bar*/
.navigation {
  max-width: 5000px;
  margin: 0 auto;
  font-family:'Veranda', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

header{
  float: left;
  width: 100%;
  background-color: #FA8072;
  color: white;
}

h1{
  font-family: "Snell Roundhand", cursive;
  font-style: italic;
  font-size: 48px;
  float: left;
  margin-left: 5%;
}
ul{
  list-style-type: none;
  margin: 45px ;
  float: right;
}
li{
  display: inline-block;
}
a{
  padding: 10px;
  display: block;
}
.navigation a:link {
    color: white;
    text-decoration: none;
}
.navigation a:visited {
    color: white;
    text-decoration: none;
}
.navigation a:hover {
    opacity: 0.7;
}

/*h1{
  font-family: "Snell Roundhand", cursive;
  font-style: italic;
  font-size: 24px;
  color: white;
  float:left;
}
#nav{
  list-style: none;
  padding: 0;
  margin:20px 0 0 0;
  float:right;
  display: inline-block;
}
#aboutMe{
  padding: 10px;

}
#mySummer{
  padding: 10px;
  display: inline-block;
}
Picture slideshow*/


/*About Me CSS
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}
#sectionOne {
  border: 5px;
  margin: auto;
  width: 800px;
  display: block;
  overflow: auto;
  text-align: center;
}*/
